{
  "openapi": "3.0.1",
  "info": {
    "title": "Knox Manage Open API",
    "description": "# INTRODUCTION\nWelcome to the reference for the Knox Manage Open API.\nTo learn about the common use cases of the Knox Manage Open API, check out the [API Guides](https://docs.samsungknox.com/admin/knox-manage/overview-open-api.htm).\n\nThe Knox Manage Open API provides a broad set of operations and resources that:\n  - User, device, organization, group management\n  - Apply policies to users, groups, organizations, and devices\n  - User authentication, etc.\n  \nRefer to the [Open API List](https://docs.samsungknox.com/admin/knox-manage/list-of-open-api.htm) for all supported API types and descriptions.\n\n## Access to the API\n\nIf you have a Knox Manager tenant, you can access the Manage API via one of the following endpoints:\n\n| Region | Base URL for REST Endpoints                                      |\n| ------ | ---------------------------------------------------------------- |\n| Asian Pacfic (2) | https://ap01.manage.samsungknox.com/emm/oapi|\n| | https://ap02.manage.samsungknox.com/emm/oapi|\n| Eroupe (7) | https://eu01.manage.samsungknox.com/emm/oapi |\n| | https://eu02.manage.samsungknox.com/emm/oapi|\n| | https://eu03.manage.samsungknox.com/emm/oapi|\n| | https://eu04.manage.samsungknox.com/emm/oapi|\n| | https://eu05.manage.samsungknox.com/emm/oapi|\n| | https://eu06.manage.samsungknox.com/emm/oapi|\n| | https://eu07.manage.samsungknox.com/emm/oapi|\n| North America (2) | https://us01.manage.samsungknox.com/emm/oapi |\n| | https://us02.manage.samsungknox.com/emm/oapi|\n\n## New Features\n\nWhen the Knox Manager product is released, new Open APIs are also released. Check out Knox Manage's [Release Note](https://docs.samsungknox.com/admin/knox-manage/release-notes.htm).\n\n# Authentication\n\n## OAuth 2.0\n\nKnox Manage recommends you to create a dedicated API user with API write access on a tenant when authenticating via OAuth, and then create an OAuth client for this user. See Create an API User for how to do this. By creating a dedicated API user, you can control permissions of the API user without affecting other non-API users.\n\nIf a user is deactivated, all of the user's OAuth clients will be automatically deactivated.\n\nAuthenticating via OAuth requires the following steps:\n\n1. Create a Client\n2. Generate a Token\n3. Bearer Authentication (Make Authenticated Requests)\n\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n## Create a Client\n\nYou must first create an OAuth client in Admin Portal UI of the Knox Manager. To do this, you must be an administrator of your Knox Manage tenant. This is a one-time operation. You will be provided with a Client ID and a Client Secret. Please refer to the [Manage API clients](https://docs.samsungknox.com/admin/knox-manage/manage-api-clients.htm), as it will be required for the next step.\n\n## Generate a Token\n\nAfter creating a client, you must make a call to obtain a bearer token using the [Generate an OAuth token](https://docs.samsungknox.com/admin/knox-manage/manage-api-clients.htm) operation. This operation requires the following parameters:\n\n- `client_id` - the Client ID displayed when you created the OAuth client in the previous step. \n- `client_secret` - the Client Secret displayed when you created the OAuth client in the previous step\n- `grant_type` - must be set to `client_credentials`\n\n\n### Token Request URL\n~~~~\nhttps://{Your Region}.manage.samsungknox.com/emm/oauth/token\n~~~~\n\n\n### Request Sample\n~~~~\ncurl -X POST \\\n  https://ap01.manage.samsungknox.com/emm/oauth/token \\\n  -d \"grant_type=client_credentials&client_id=APItest@km.com&client_secret=APItestpassword\" \\\n  -H \"Content-Type: application/x-www-form-urlencoded\"\n~~~~\n\n\n### Response Sample\n~~~~\n{\n    \"access_token\": \"98bfa733-aa70-4491-931f-f35442ff2e7e\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 997331046,\n    \"scope\": \"read\"\n}\n~~~~\n\n\n>*Note: The Client ID and Client Secret mentioned above were displayed when you created the OAuth Client in the prior step. The Generate an OAuth token response specifies how long the bearer token is valid for. You should reuse the bearer token until it is expired. When the token is expired, call Generate an OAuth token again to generate a new one.\n\n## Bearer Authentication\nTo authenticate subsequent API requests, you must provide a valid bearer token in an HTTP header: \n- `Authorization: Bearer{bearer_token}`\n\n\n",
    "version": "22.05"
  },
  "servers": [
    {
      "url": "https://ap01.manage.samsungknox.com/emm/oapi",
      "description": "AP01"
    },
    {
      "url": "https://ap02.manage.samsungknox.com/emm/oapi",
      "description": "AP02"
    },
    {
      "url": "https://eu01.manage.samsungknox.com/emm/oapi",
      "description": "EU01"
    },
    {
      "url": "https://eu02.manage.samsungknox.com/emm/oapi",
      "description": "EU02"
    },
    {
      "url": "https://eu03.manage.samsungknox.com/emm/oapi",
      "description": "EU03"
    },
    {
      "url": "https://eu04.manage.samsungknox.com/emm/oapi",
      "description": "EU04"
    },
    {
      "url": "https://eu05.manage.samsungknox.com/emm/oapi",
      "description": "EU05"
    },
    {
      "url": "https://eu06.manage.samsungknox.com/emm/oapi",
      "description": "EU06"
    },
    {
      "url": "https://eu07.manage.samsungknox.com/emm/oapi",
      "description": "EU07"
    },
    {
      "url": "https://us01.manage.samsungknox.com/emm/oapi",
      "description": "US01"
    },
    {
      "url": "https://us02.manage.samsungknox.com/emm/oapi",
      "description": "US02"
    }
  ],
  "tags": [
    {
      "name": "User Authentication",
      "description": "Open API related to authentication of Knox Manager users. If the user type in Knox Manager is specified as LDAP user, it sends an authentication request to the connected LDAP."
    }
  ],
  "paths": {
    "/audit/read": {
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Read Audit Log",
        "description": " *This API is for reading audit logs.",
        "operationId": "read",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AuditLogSearchParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadAuditLogRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/audit/read \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"logDate=2020-03-04&locale=en\" \n "
          }
        ]
      }
    },
    "/auth/authenticate": {
      "post": {
        "tags": [
          "User Authentication"
        ],
        "summary": "Authentication",
        "description": "Authentication is performed by receiving the Knox Manager user ID and password. It is only for Tenant users for whom Client ID is issued.",
        "operationId": "authenticate",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UserEmmSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/auth/authenticate \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"userId=kmuser&userPassword=kmuserpassword\" \n "
          }
        ]
      }
    },
    "/device/deleteDeviceFromDeviceGroup": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Delete Device from Device Group",
        "description": "This API is to delete a Device from the Device Group.",
        "operationId": "deleteDeviceFromDeviceGroup",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceToGroupReqSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceToGroupRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/deleteDeviceFromDeviceGroup \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071&groupId=testgroupid\" \n "
          }
        ]
      }
    },
    "/device/deleteDeviceFromProfileGroup": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Delete Device from Profile Group",
        "description": "This is an API that removes a device from KM's Profile Group, which does not exist anymore. It will be deleted soon. <br> Use the Delete Device from Device Group.",
        "operationId": "deleteDeviceFromProfileGroup",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceToGroupRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/deleteDeviceFromProfileGroup \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071\" \n "
          }
        ]
      }
    },
    "/device/insertDeviceToProfileGroup": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Add Device To Group",
        "description": "This API is to insert a Device to the Selected Device Group.",
        "operationId": "insertDeviceToProfileGroup",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceToGroupReqSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceToGroupRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/insertDeviceToProfileGroup \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071&groupId=testgroupid\" \n "
          }
        ]
      }
    },
    "/device/insertMalwareApp": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Insert Malware App",
        "description": " This API is to insert Malware Application.",
        "operationId": "insertMalwareApp",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/InsertMalwareReqScheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRespSchemaBase"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/insertMalwareApp \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071&packageName=com.example.app&appName=sampleApp&appVersionName=10\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceAppList": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Application List",
        "description": "This API is to query the Device Application List.",
        "operationId": "selectDeviceAppList",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceAppSearhParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAppsWithTotal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceAppList \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceInfo": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Detail",
        "description": "This API is to query the Device Detailed Information.",
        "operationId": "selectDeviceInfo",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceInfoRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceInfo \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceInfoByGoogleDeviceId": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Detail By Google Device Id",
        "description": "This API is to query the Enrolled Device Detailed Information by Google Device Id.",
        "operationId": "selectDeviceInfoByGoogleDeviceId",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GoogleDeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceInfoRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceInfoByGoogleDeviceId \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"googleDeviceId=3z01tca1583lp112\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceInfoByImei": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Detail By IMEI",
        "description": "This API is to query the Enrolled Device Detailed Information by IMEI.",
        "operationId": "selectDeviceInfoByImei",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ImeiParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceInfoRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceInfoByImei \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"imei=testdeviceimei\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceInfoByMobileId": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Detail By Device Name",
        "description": "This API is to query the Device Detailed Information by Device Name.",
        "operationId": "selectDeviceInfoByMobileId",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MobileIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceInfoRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceInfoByMobileId \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"mobileId=testdevicename\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceInfoBySerialNumber": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Detail By Serial Number",
        "description": "This API is to query the Enrolled Device Detailed Information by Serial Number.",
        "operationId": "selectDeviceInfoBySerialNumber",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SerialNumParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceInfoRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceInfoBySerialNumber \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"serialNumber=testdeviceserialNumber\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceList": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device List",
        "description": "This API is to query the Device Information List.",
        "operationId": "selectDeviceList",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceSearhParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceList \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceStatus=A\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceListByEmpNos": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Detail By Employee Number",
        "description": "This API is to query the Device Information List by Employee Number.",
        "operationId": "selectDeviceListByEmpNos",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EmpInfoReqSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceListByEmpNos \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"empNos=empno1&empNos=empno2&siteCodes=code1&siteCodes=code2\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceLocation": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Location",
        "description": "This API is to query the GPS Information of the Device. One of 'deviceId' and 'mobileId' is a required value. (not null and not empty)",
        "operationId": "selectDeviceLocation",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceLocationReqSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceLocRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceLocation \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceLocationHistory": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Device Location History",
        "description": "This API is to query the Device Location History List. One of 'deviceId' and 'mobileId' is a required value.",
        "operationId": "selectDeviceLocationHistory",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceLocHistorySearhParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLocHistoryWithTotal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceLocationHistory \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dc95bc9e4dee47a4a8efd5b6064c9071&period=30\" \n "
          }
        ]
      }
    },
    "/device/selectDeviceTagsByDeviceId": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get tags by device ID",
        "description": "Get tags by device ID",
        "operationId": "selectDeviceTagsByDeviceId",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SelectDeviceTagsReqSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceTagsRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDeviceTagsByDeviceId \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=0d67cbc75d93448d9c236c86b4d313bb\" \n "
          }
        ]
      }
    },
    "/device/selectDevicesByUser": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Get Devices By User",
        "description": "This API is to query the Device Information of the User. <br>Up to 1000 device lists are returned. If you need paging, use the Get Device List api.",
        "operationId": "selectDevicesByUser",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UserIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDevicesByUserRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/selectDevicesByUser \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"userId=kmuser1\" \n "
          }
        ]
      }
    },
    "/device/updateDeviceTags": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Update device tags",
        "description": "Update device tags. Old tags mapped to deviceId will be deleted and new tags will be mapped to deviceId. If this api is called without tags parameter, the old tags maaped to deviceId will be deleted.",
        "operationId": "updateDeviceTags",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeviceTagsReqSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceTagsRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/device/updateDeviceTags \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=0d67cbc75d93448d9c236c86b4d313bb&tags=tag1&tags=tag2\" \n "
          }
        ]
      }
    },
    "/group/countGroup": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Get Group Count",
        "description": "Passes the number of groups with exactly the same name. In general, '0' or '1' will be transmitted. Used for duplicate check of new group name.",
        "operationId": "countGroup",
        "parameters": [
          {
            "name": "groupName",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Group name for duplicate name checking",
              "example": "groupname1"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountGroupRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/countGroup?groupName=testname \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    "
          }
        ]
      }
    },
    "/group/deleteGroup": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Delete Groups",
        "description": "It is an API that is used to delete groups.",
        "operationId": "deleteGroup",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeleteGroupsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteGroupsRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/deleteGroup \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"groupIdString=testGroupId1;testGroupId2;testGroupId3&applyProfile=1\" \n "
          }
        ]
      }
    },
    "/group/deleteGroupUnits": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Delete Units to Group",
        "description": "It is an API used to delete units (users or devices) in an existing group.",
        "operationId": "deleteGroupUnits",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupUnitSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupRespSchemaBase"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/deleteGroupUnits \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"groupId=dc95bc9e4dee47a4a8efd5b6064c9071;&userIds=testUser1;testUser2;testUser3&applyProfile=1\" \n "
          }
        ]
      }
    },
    "/group/insertGroup": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Add Group With Units",
        "description": "It is an API that is used to create a user group, a device group.",
        "operationId": "insertGroup",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/InsertGroupSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertGroupRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/insertGroup \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"groupName=Open API Test 2&groupType=USER&userIds=kkbae3333;kkbae1234134\" \n "
          }
        ]
      }
    },
    "/group/insertGroupUnits": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Add Units to Group",
        "description": "This is the API used to add new units (users or devices) to an existing group. ",
        "operationId": "insertGroupUnits",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupUnitSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupRespSchemaBase"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/insertGroupUnits \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"groupId=dc95bc9e4dee47a4a8efd5b6064c9071;&userIds=testUser1;testUser2;testUser3&applyProfile=1\" \n "
          }
        ]
      }
    },
    "/group/selectGroupDevices": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Get Group Devices",
        "description": "Query the Group Device list. This API provides device information for a group regardless of the group type.",
        "operationId": "selectGroupDevices",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SelectGroupDeviceSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDeviceRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/selectGroupDevices \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"groupId=testDeviceGroup&limit=20\" \n "
          }
        ]
      }
    },
    "/group/selectGroupUnits": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Get Group Units",
        "description": "Query the Group unit list.",
        "operationId": "selectGroupUnits",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SelectGroupUnitSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectGroupUserUnitRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/selectGroupUnits \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"groupId=testGroup&limit=20\" \n "
          }
        ]
      }
    },
    "/group/selectGroupUsers": {
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Get Group Users",
        "description": "Query the Group User list. This API provides user information for a group regardless of the group type.",
        "operationId": "selectGroupUsers",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SelectGroupUserSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectGroupUserRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/selectGroupUsers \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"groupId=testUserGroup&limit=20\" \n "
          }
        ]
      }
    },
    "/group/selectGroups": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Get Groups",
        "description": "Search the list of groups that have been created.",
        "operationId": "selectGroups",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Used when searching by Group ID(UUID).<br/>This field is created automatically when create a group.",
              "example": "dc95bc9e4dee47a4a8efd5b6064c9071"
            }
          },
          {
            "name": "searchName",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Used when searching by name.",
              "example": "name1"
            }
          },
          {
            "name": "groupType",
            "in": "query",
            "schema": {
              "maxLength": 10,
              "type": "string",
              "description": "Group type. <br/>Group types can have only three values:<br/><br/>1) User Group: 'USER'<br/>2) Device Group: 'DEVICE'<br/>3) AD/LDAP Group: 'SYNC'<br/><br/>In addition, once determined(saved) group type can not be modified.",
              "example": "USER"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Records per page (0 < pageSize <= 1000)",
              "example": "20",
              "default": "1000"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Page indexing begins from 0 (pageNum >= 0)",
              "example": "0",
              "default": "0"
            }
          },
          {
            "name": "needDeviceUserCount",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Used to request the number of devices, users in the group, as well as the number of profiles, contents, and applications assigned to the group. When requesting this value, 'yes' should be passed as a parameter.",
              "example": "yes",
              "default": "no"
            }
          },
          {
            "name": "needActiveDeviceCount",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Used to request the number of active devices in a group. When requesting this value, \"yes\" should be passed as a parameter. In addition, the 'needDeviceUserCount' value must also be 'yes'.",
              "example": "yes",
              "default": "no"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectGroupRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \\\n    https://ap01.manage.samsungknox.com/emm/oapi/group/selectGroups?searchName=test&limit=20 \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    "
          }
        ]
      }
    },
    "/license/isLicenseValid": {
      "get": {
        "tags": [
          "License"
        ],
        "summary": "Check License Validation",
        "description": "This API is to query the license valid or not.",
        "operationId": "isLicenseValid",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \\\n    https://ap01.manage.samsungknox.com/emm/oapi/license/isLicenseValid \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    "
          }
        ]
      }
    },
    "/limitedEnrollment/create": {
      "post": {
        "tags": [
          "Limited Enrollment"
        ],
        "summary": "Create Targets",
        "description": "Create Limited Enrollment Targets",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateLimitedEnrollmentSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLimitedEnrollmentRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/limitedEnrollment/create \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"restrictType=IMEI&restrictIds=imei01&restrictIds=imei02\" \n "
          }
        ]
      }
    },
    "/limitedEnrollment/delete": {
      "post": {
        "tags": [
          "Limited Enrollment"
        ],
        "summary": "Delete Targets",
        "description": "Delete Limited Enrollment Targets",
        "operationId": "delete",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateLimitedEnrollmentSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLimitedEnrollmentRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/limitedEnrollment/delete \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"restrictType=IMEI&restrictIds=imei01&restrictIds=imei02\" \n "
          }
        ]
      }
    },
    "/limitedEnrollment/selectList": {
      "get": {
        "tags": [
          "Limited Enrollment"
        ],
        "summary": "Get Limited Enrollment List",
        "description": "Search the list of limited targets",
        "operationId": "selectList",
        "parameters": [
          {
            "name": "restrictId",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Restrict ID (SQL equal condition)",
              "example": "device01"
            }
          },
          {
            "name": "restrictType",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Restrict Type (SQL equal condition). IMEI/SERIAL/OS/MODEl",
              "example": "IMEI"
            }
          },
          {
            "name": "restrictIds",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Restrict ID (SQL in condition)",
              "example": "['device01','device02']"
            }
          },
          {
            "name": "restrictTypes",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Restrict Type (SQL in condition)",
              "example": "['IMEI','SERIAL']"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "User Name (SQL like condition)",
              "example": "user01"
            }
          },
          {
            "name": "restrictIdDeviceUserLike",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "type": "string",
              "description": "Restrict ID, Mobile ID or User Name (SQL like condition)",
              "example": "user01"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectLimitedEnrollmentRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \\\n    https://ap01.manage.samsungknox.com/emm/oapi/limitedEnrollment/selectList?restrictIdDeviceUserLike=user01 \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    "
          }
        ]
      }
    },
    "/mdm/commandQueueServiceWrapper/getCommandQueueNoSendCnt": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Get Not Transffered Command Count",
        "description": "This API gets count of commands which were not transferred. An API Caller should know an information of the device. Such as mobileId, deviceId, platform code.",
        "operationId": "getCommandQueueNoSendCnt",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GetQueuedCmdCntSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueuedCmdCntRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commandQueueServiceWrapper/getCommandQueueNoSendCnt \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"mobileId=testdeviceName&deviceId=dc95bc9e4dee47a4a8efd5b6064c9071&platform=A \" \n "
          }
        ]
      }
    },
    "/mdm/commandQueueServiceWrapper/getCommandQueuedDevicesForAndroidAgent": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Get List of Phone Number In Command Queue",
        "description": "This API gets a list of phone number which has unresolved commands in command queue. A SMS message for Android EMM Agent should contain a specific phrase that is EMM(<i>tenantId</i>). <br>  ex) This message is sent from EMM System. ... EMM(SDS) ... Thanks.",
        "operationId": "getCommandQueuedDevicesForAndroidAgent",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GetPhoneListSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPhoneListRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commandQueueServiceWrapper/getCommandQueuedDevicesForAndroidAgent \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"minutes=0\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/getDeviceControlResult": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Get Device Control Result",
        "description": "This API returns messages of Device Control Process. Only Android/iOS platforms are available.(Windows not ready!). Device Control process can vary depending on each command and KM version.",
        "operationId": "getDeviceControlResult",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ControlResultSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringArrayRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/getDeviceControlResult \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1&commandId=dummycommandId\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForAgentFlushQueue": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Flush Command Queue",
        "description": "This API sends a Device Control to flush command queue in EMM Server.",
        "operationId": "sendDeviceControlForAgentFlushQueue",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtcRespSchemaBase"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForAgentFlushQueue \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForAgentFlushQueueToMultiDevices": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Flush Command Queue",
        "description": "This API sends a Device Control to several devices for flushing command queues. This doesn't return a commandId as a result of sending a Device Control to devices. Even if there is only one success among multiple requests, The result of API is success.",
        "operationId": "sendDeviceControlForAgentFlushQueueToMultiDevices",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlushQueueRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForAgentFlushQueueToMultiDevices \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceIds=dummydeviceid1&deviceIds=dummydeviceid2\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForDeleteAppData": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Delete Application Data",
        "description": "This API sends a Device Control to delete application internal data.",
        "operationId": "sendDeviceControlForDeleteAppData",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAppSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunAppRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForDeleteAppData \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1&appPackages=test.samsung.mdm&appPackages=test2.samsung.mdm\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForDeviceInfo": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Collect Device H/W information",
        "description": "This API sends a Device Control to get a device H/W information.",
        "operationId": "sendDeviceControlForDeviceInfo",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandIdRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForDeviceInfo \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForFactoryReset": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Factory Reset",
        "description": "This API sends a Device Control to wipe a device.",
        "operationId": "sendDeviceControlForFactoryReset",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtcRespSchemaBase"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForFactoryReset \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForGPSInfo": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Collect Current Location",
        "description": "This API sends a Device Control to get Location of a device.",
        "operationId": "sendDeviceControlForGPSInfo",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandIdRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForGPSInfo \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForInstallApp": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Install Android Application",
        "description": "This API sends a Device Control for install a android application<br/>There are two ways to call API<br/> 1. with package name, 2. with url and start app",
        "operationId": "sendDeviceControlForInstallApp",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/InstallAppSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunAppRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForInstallApp \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1&appPackage=test.samsung.appx&knoxId=testknoxid&url=https://test.samsung.app&componentClass=Activity&action=unknown&autoRun=Automatic\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForKeepAlive": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Keep Alive",
        "description": "This API sends a Device Control to check KM Service availability.",
        "operationId": "sendDeviceControlForKeepAlive",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandIdRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForKeepAlive \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForLockDevice": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Lock Device",
        "description": "This API sends a Device Control to lock a device.",
        "operationId": "sendDeviceControlForLockDevice",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandIdRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \\\n    https://ap01.manage.samsungknox.com/emm/oapi/mdm/commonOTCServiceWrapper/sendDeviceControlForLockDevice \\\n    -H \"cache-control: no-cache\" \\\n    -H \"content-type: application/x-www-form-urlencoded\" \\\n    -H \"Authorization: bearer 98bfa733-aa70-4491-931f-f35442ff2e7e\" \\\n    -d \"deviceId=dummydeviceid1\" \n "
          }
        ]
      }
    },
    "/mdm/commonOTCServiceWrapper/sendDeviceControlForPayloadUUID": {
      "post": {
        "tags": [
          "Device Command"
        ],
        "summary": "Update Paylod UUID List for Single Device",
        "description": "This API sends a Device Control to an device for updating payload UUID List. Only iOS Platform supported.",
        "operationId": "sendDeviceControlForPayloadUUID",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeviceIdParamSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUserInfoRespSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer-Authentication": []
          }
        ],
        "x-codeSamples": [
          {
[...]
